body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #B6B6B4;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    flex: 1;
    padding: 0 20px;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu li a {
    color: #333;
    text-decoration: none;
}

.content {
    padding: 20px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #B6B6B4;
        padding: 10px;
        width: 200px;
    }

    .menu.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }
}

.container-main {
    margin: 15px;
    margin-top: 20px;
}

.bar-footer {
    height: 5px;
    width: 50%;
    background-color: black;
    margin: auto;
}

.container-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/* Reset default link styles */
.social-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Style for each social button */
.social-button {
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.social-button i {
    font-size: 20px;
}

/* Hover effect */
.social-button:hover {
    filter: brightness(0.9);
}

/* Custom colors for different social buttons */
.social-button.instagram {
    background-color: #e4405f;
}

.social-button.youtube {
    background-color: #c4302b;
}

.social-button.linkedin {
    background-color: #0077b5;
}

.social-button.whatsapp {
    background-color: #25d366;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-info {
    margin-top: 10px;
    font-size: 14px;
}
