 <div class="social-buttons">
    <a href="https://www.instagram.com/" class="social-button instagram">
      <i class="icon-instagram"></i> Instagram
    </a>
    <a href="https://www.youtube.com/" class="social-button youtube">
      <i class="icon-youtube"></i> YouTube
    </a>
    <a href="https://www.linkedin.com/" class="social-button linkedin">
      <i class="icon-linkedin"></i> LinkedIn
    </a>
    <a href="https://api.whatsapp.com/send?phone=1234567890" class="social-button whatsapp">
      <i class="icon-whatsapp"></i> WhatsApp
    </a>
  </div>
