<!DOCTYPE html>
<html>


  
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    {% include analytics.html %}
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
  </head>

  

  
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
          <nav class="navbar">
            <div class="logo">
                <img src="{{ site.baseurl }}/images/logo2.png" alt="Logo">
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="menu">
                <li><a href="#">Resume</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Book</a></li>
                <li><a href="{{ site.baseurl }}/">Story</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    
       
    <div class="wrapper-footer">
      <div class="container-footer">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
    
  </body>


  
</html>
